*.so
*.dylib
*.o
*.dll
*.exp
*.ipdb
*.lib
*.iobj
*.pdb
*.pkl
tags
VSCache/
.vs/
*.vcxproj.user
*.ilk

__pycache__/
*.pyc

ErwinJr2.egg-info/
build/
dist/

## compiled files from docs
*.aux
*.pdf
*.toc
*.fdb_latexmk
*.out
*.log
*.fls
*.synctex.gz
*.xdv

example
ErwinJr2.bat

.DS_Store
.vscode/*
