*.so
*.dylib
*.o
*.dll
*.exp
*.ipdb
*.lib
*.iobj
*.pdb
*.pkl
tags
VSCache/
.vs/
*.vcxproj.user
*.ilk

__pycache__/
*.pyc

## compiled files from docs
*.aux
*.pdf
*.toc
*.fdb_latexmk
*.out
*.log
*.fls
*.synctex.gz
*.xdv

## doxygen gnerated file for C code
OneDQuantum/docs/html/
OneDQuantum/docs/xml/
OneDQuantum/docs/latex/
example/*
!example/PQLiu*
!example/std8um.json
ErwinJr2.bat

.DS_Store
